/* SECTION ONE - HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-image-color);
  background-image: linear-gradient(
      var(--backgroung-image-overlay),
      var(--backgroung-image-overlay)
    ),
    url(../images/background-image.jpg);
  background-size: cover;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text {
  width: 696px;
  margin: 0 auto 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bcgrnd-color);
}
