/* SECTION ONE - HERO */
.hero {
  padding-top: 118x;
  padding-bottom: 200px;
  background-color: var(--background-image-color);
  background-image: linear-gradient(
      var(--backgroung-image-overlay),
      var(--backgroung-image-overlay)
    ),
    url("../images/1x-mob-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text {
  max-width: 360px;
  margin: 0 auto 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bcgrnd-color);
}

// 480+
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    margin: 0 auto;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  .hero__text {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
