/* ul */
.icons-team-ulist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-right: -30px;

  .icons-team-list-item {
    margin-top: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
/* a */
.icon-team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  background-color: transparent;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--font—btn-accent-color);
  }
}

.group-team-icon {
  fill: var(--social-icon-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon-team-list-link:hover &,
  .icon-team-list-link:focus & {
    fill: var(--font—btn-accent-color);
  }
}

// 480+
@media screen and (min-width: 480px) {
}

// 768+
@media screen and (min-width: 768px) {
  .icons-team-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .icon-team-list-link {
    width: 226px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .icons-team-list-item {
    flex-basis: calc((100% - 180px) / 6);
  }
  .icon-team-list-link {
    width: 170px;
  }
}
