.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

/* icons description */
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;

  .modal-form-field {
    margin-bottom: 10px;
  }
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  /* validation */
  &:required:focus:not(:placeholder-shown):valid {
    border-color: var(--btn-click-on-color);
  }
  &:required:focus:not(:placeholder-shown):invalid {
    border-color: tomato;
  }
  &:focus {
    border-color: var(--font—btn-accent-color);
    outline: none;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--font-heading-color);

  .modal-form-input:focus + & {
    fill: var(--font—btn-accent-color);
  }
}

/* textarea */
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--font—btn-accent-color);
  }
}

/* checkbox */
.modal-form-checkbox-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--font-paragraph-color);

  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 16px;
    height: 15px;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid var(--font-heading-color);
    /* outline: 2px solid var(--font-heading-color); */
    margin-right: 7px;
  }
  .modal-form-checkbox:checked + &::before {
    background-image: url(../images/icon-check.svg);
    /* outline: var(--font—btn-accent-color); */
  }
  .modal-form-checkbox:focus + &::before {
    /* outline-color: var(--font—btn-accent-color); */
    outline: var(--font—btn-accent-color);
  }
}

/* approve button */
.modal-form-btn {
  align-self: center;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-bcgrnd-color);
  background: var(--font—btn-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
  border: 1px;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;

  &:hover,
  &:focus {
    background: var(--btn-click-on-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
