:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-bcgrnd-color: #ffffff;
  --font-heading-color: #212121;
  --font-paragraph-color: #757575;
  --main-and-footer-bcgrnd-color: #2f303a;
  --font—btn-accent-color: #2196f3;
  --btn-click-on-color: #188ce8;
  --btn-portfolio-color: #f5f4fa;
  --team-bcrnd-color: #f5f4fa;
  --social-icon-main-color: #afb1b8;
  --background-image-color: #c4c4c4;
  --backgroung-image-overlay: rgba(47, 48, 58, 0.4);
  --background-icon-color: #f5f4fa;
}
